# Compiled source #
###################
*.obj
*.d
*.gcno
*.o

# Packages #
############
*.rpm
*.sdp
*.tar.gz
*.tgz
*.bin
*.exe
*.tar
*.zip
*.jar

# Windows Specific #
####################
*.ccscc
*.dsp
*.dsw
*.vcproj
*.sln
*.pdb
*.vspscc
*.suo
*.vsscc
*.vssscc

# not needed data
#list+found
lost+found/

#/amih_cnz_win/
amih_cnz_win/

#/cch_cnz_win/
cch_cnz_win/

#list speicific application binaries
#/amih_cnz
amih_cnz/amih_cxc/doc/
amih_cnz/amih_cxc/bin/fixs_amihd
amih_cnz/amih_cxc/bin/.debug/fixs_amihd_dbg

#/cch_cnz/
cch_cnz/cch_cxc/doc/
cch_cnz/cch_cxc/bin/fixs_cchd
cch_cnz/cch_cxc/bin/fwprint
cch_cnz/cch_cxc/bin/fwupgexec
cch_cnz/cch_cxc/bin/ipmifwprint
cch_cnz/cch_cxc/bin/ipmiupgexec
cch_cnz/cch_cxc/bin/pfmfwprint
cch_cnz/cch_cxc/bin/pfmupgexec
cch_cnz/cch_cxc/bin/xcountls
cch_cnz/cch_cxc/bin/.debug/fixs_cchd_dbg
cch_cnz/cch_cxc/bin/.debug/fwprint_dbg
cch_cnz/cch_cxc/bin/.debug/fwupgexec_dbg
cch_cnz/cch_cxc/bin/.debug/ipmifwprint_dbg
cch_cnz/cch_cxc/bin/.debug/ipmiupgexec_dbg
cch_cnz/cch_cxc/bin/.debug/pfmfwprint_dbg
cch_cnz/cch_cxc/bin/.debug/pfmupgexec_dbg
cch_cnz/cch_cxc/bin/.debug/xcountls_dbg

#/cmxh_cnz/
cmxh_cnz/cmxh_cxc/doc/
cmxh_cnz/cmxh_cxc/bin/fixs_cmxhd
cmxh_cnz/cmxh_cxc/bin/.debug/fixs_cmxhd_dbg

#/fixelh_cnz/
fixelh_cnz/fixelh_cxc/bin/fixerls
fixelh_cnz/fixelh_cxc/bin/.debug/fixerls_dbg

#/ith_cnz/
ith_cnz/ith_cxc/doc/
ith_cnz/ith_cxc/bin/fixs_ithd
ith_cnz/ith_cxc/bin/smxpatchexec
ith_cnz/ith_cxc/bin/.debug/fixs_ithd_dbg
ith_cnz/ith_cxc/bin/.debug/smxpatchexec_dbg

#/trefc_cnz/
trefc_cnz/trefc_cxc/doc/
trefc_cnz/trefc_cxc/bin/fixs_trefcd
trefc_cnz/trefc_cxc/bin/.debug/fixs_trefcd_dbg

######### END ################################

